html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  min-height: calc(92vh - 60px);
  background-image: linear-gradient(
    to right,
    #002755,
    #0a3c6d,
    #155186,
    #1f68a0,
    #2980b9
  );
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  min-height: 100%;
}

.center {
  height: 600px;
  width: 550px;
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.top {
  display: flex;
  height: auto;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.menu {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/aman.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  overflow: hidden;
}

.menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 250px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(16.3rem) translateY(3.5rem);
  /* background: #000; */
}

.menu.active li {
  transform: rotate(calc(360deg / 9 * var(--i)));
}

.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 5px;
  transform: rotate(calc(360deg / -9 * var(--i)));
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  color: #111;
  transition: 0.5s;
}

.menu li a:hover {
  color: green;
}

.toggle {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  font-size: 2em;
  transition: transform 1.25s;
  opacity: 95%;
  margin-top: 7rem;
  margin-left: 4rem;
}

.menu.active .toggle {
  transform: rotate(315deg);
}

a {
  list-style: none;
  text-decoration: none;
  color: #000;
}
